[Unit]
Description=rusty-keys keymapper service
After=systemd-udevd.service

[Service]
ExecStart=/usr/bin/rusty-keys

[Install]
WantedBy=default.target
