[Unit]
Description=rusty-keys keymapper service
After=systemd-udevd.service

[Service]
ExecStart=/usr/bin/rusty-keys
Restart=always
RestartSec=1s

[Install]
WantedBy=default.target
